defaults
  mode http
  timeout connect 10s
  timeout client 60s
  timeout server 60s 
  timeout http-request 10s

userlist mycredentials
   user "${AUTH_USERNAME}"  insecure-password "${AUTH_PASSWORD}"

frontend http
  bind :8080

  # Add basic auth
  http-request auth unless { http_auth(mycredentials) }
  
  # Pass or set "X-Forwarded-"-headers
  acl h_xfh_exists req.hdr(X-Forwarded-Host) -m found
  http-request set-header X-Forwarded-Host %[req.hdr(host)] unless h_xfh_exists
  acl h_xfport_exists req.hdr(X-Forwarded-Port) -m found
  http-request set-header X-Forwarded-Port %[dst_port] unless h_xfport_exists
  acl h_xfproto_exists req.hdr(X-Forwarded-Proto) -m found
  http-request set-header X-Forwarded-Proto http if !{ ssl_fc } !h_xfproto_exists
  http-request set-header X-Forwarded-Proto https if { ssl_fc } !h_xfproto_exists

  default_backend mybackend

backend mybackend
  server server1 "${PROXY_HOST}:${PROXY_PORT}"
